.clear{
    clear: both;
}


.logo{
    flex-shrink: 0;
    max-height: 290px;
    min-height: 92px;
    padding-top: 50px;
    height: calc(100% - 560px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}


header{
    padding-left: 32px;
    padding-top: 8px;
    display:inline-flex;
    float: right;
    justify-content: flex-end;
    vertical-align:bottom;
    
}
header > div{
    display:inline-flex;
    padding: 0px 10px 0px 4px;
}

header > div>div{
    display:inline-flex;
    padding:  4px 10px;
}

header div a{
    padding: 0px 16px 0px 0px;

}
header button{
    padding: 9px 23px; 
    text-align: center;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    margin-left: 10px;
    margin-right: 8px;
    vertical-align: middle;
    font-weight: bold;
    outline: none;
    background: #1a73e8;
    border: 1px solid transparent;
    color:whitesmoke;
    border-radius: 5%;
}
a{
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
    font-family: arial,sans-serif;
    display: inline-block;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}
.lnks{
    padding: 4px 0  0 0;
}

header svg{

    border-radius: 50%;
    display: inline-block;
}

div#searchbox{
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    justify-content: space-between;
}

div#searchbox div {
    padding: 10px;
}

.center {
    width: auto;
    max-width: 584px;
    margin: 0 auto;
    display: block;
}

.center div:nth-of-type(2){
    padding: 26px;
    margin-left: 20%;

}
.center button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 0 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    text-align: center;
}

footer {
    border-top: 1px solid rgba(169, 169, 169, 0.411);
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-flex;
    right: 0;
    justify-content: space-between;
    background-color: rgba(224, 223, 223, 0.671);
    margin: 0;
}

footer a{
    padding-left: 10px;
    font-size: 14px;
    font-weight: 200;
    color: rgb(63, 62, 62);
}

footer div:nth-of-type(2){
    display: inline-flex;
    max-width: fit-content;
    float: right;
}